<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          Categories
        </h4>

        <ul>
          <li class="p-b-10">
            <a [routerLink]="['detailByCategory/','women']" class="stext-107 cl7 hov-cl1 trans-04" data-filter=".women">
              Women
            </a>
          </li>

          <li class="p-b-10">
            <a [routerLink]="['detailByCategory/','men']" class="stext-107 cl7 hov-cl1 trans-04" data-filter=".men">
              Men
            </a>
          </li>

          <li class="p-b-10">
            <a [routerLink]="['detailByCategory/','footwear']" class="stext-107 cl7 hov-cl1 trans-04" data-filter=".shoes">
              Shoes
            </a>
          </li>

          <li class="p-b-10">
            <button [routerLink]="['detailByCategory/','watches']" class="stext-107 cl7 hov-cl1 trans-04" data-filter=".watches">
              Watches
            </button>
          </li>
        </ul>
      </div>

      

      <div class="col-sm-6 col-lg-3 p-b-50">
        <h4 class="stext-301 cl0 p-b-30">
          GET IN TOUCH
        </h4>

        <p class="stext-107 cl7 size-201">
          Any questions? Let us know in store at Plot No. EL-200, TTC Electronic Zone, Shil Phata - Mahape Road, Kopar Khairane, MIDC Industrial Area, Mahape, Navi Mumbai, Maharashtra 400710
        </p>

       
      </div>

      <div class="col-sm-6 col-lg-3 p-b-50">
        <br>
        <br>

        <h4 class="mtext-105 cl2 txt-center p-b-30" style="padding-top:20px;font-family:serif;font-size:30px;color:whitesmoke" >
          ShopWhop
          </h4>
        
        
      </div>
    </div>

    <div class="p-t-40">
      
    </div>
  </div>
</footer>