
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<button class="flex-c-m stext-101 cl0  size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" (click)="socialSignIn('google')" style="text-align:center;">Sign in with Google</button>  
<br>
<br>
<h4 class="mtext-105 cl2 txt-center p-b-30">
  {{msg}}
</h4>

<br>
<br>
<button class="flex-c-m stext-101 cl0  size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" (click)="socialSignOut()" style="text-align:center;">Sign out</button>


<br>
<br>
<h4 class="mtext-105 cl2 txt-center p-b-30">
  {{sign}}
</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


